services:
  # frontend:
  #   image: "docker-nextjs-asms:latest"
  #   build:
  #     context: frontend
  #   container_name: frontend-nextjs
  #   depends_on:
  #     - backend
  #   env_file:
  #     - "frontend/.env.development"
  #   develop:
  #     watch:
  #       - action: sync
  #         path: ./frontend/src
  #         target: /app/src

  #       - action: rebuild
  #         path: package.json
  #         target: /app
  #   ports:
  #     - "3000:3000"

  backend:
    build:
      context: .
    container_name: backend-rails
    depends_on:
      - db-recipes
    env_file:
      - ".env"
    ports:
      - "3300:3300"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/tmp

  db-recipes:
    image: postgres:16
    container_name: db-recipes
    env_file:
      - ".env"
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pg_data:
